body {
  background: #fefefe;
  color: #444;
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
  justify-content: space-between;
  line-height: 1.6;
  margin: 5vw auto;
  max-width: 650px;
  padding: 0 1em;
}

h1,h2,h3 {
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

.center {
  padding: 0 1em;
  text-align: center;
}
